__pycache__/
.DS_Store
dist/
build/
.VSCodeCounter/
.idea/
target/
.vs/
.history/
.cpc_history
temp/
*.log
.cpc_config.json

# packages by default, DO NOT upload to main branch
# Let users download by cpc -g install <pkgname>
# package originals are in other repository
packages/
!packages/README.md
!packages/example.cpg 
